body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.person__info {
    background-color: #2b5a84;
    color: #fbf6f6;
    padding: 110px 110px 150px;
}

.person__photo {
    max-width: 80%;
    margin: 0 auto 40px;
    display: block;
}

.person__descr {
    text-transform: uppercase;
}

.person__descr_name {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.person__descr_prof {
    font-size: 1.6rem;
}

.education {
	margin-top: 50px;
	margin-bottom: 105px;
}
.education_title {
	font-size: 32px;
	margin-bottom: 70px;
}
.education_block {
	margin-bottom: 70px;

}
.education_block__date {

	vertical-align: top;
}
.education_block__text {

}
.skill {
	margin-bottom: 105px;
}
.skill_title {
	font-size: 32px;
	margin-bottom: 70px;
}
.skill_text {
	margin-bottom: 40px;
}
.skill_block {
	margin-bottom: 30px;

}
.skill_block__name {
	display: inline-block;

}
.skill_block__value {
	width: 80%;
	color: #4c9be0;
	background-color: #dedede;
	border: 0;
	height: 1em;
}
progress::-webkit-progress-bar {
 background-color: rgba(255, 255, 255, .13);
}
progress::-webkit-progress-value {
  background: #4c9be0;
}
progress::-moz-progress-bar {
  color: #4c9be0;
}

.skill_block span {
	margin-left: 22px;

}
/*# animate social icon */
.social_link {
	width: 100%;
	padding: 10% 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social {
	display: inline-block;
	width: 56px;
	height: 56px;
	padding: 8px;
	border-radius: 100%;
	background-color: white;
	margin: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.social svg {
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.social:hover {
	border-radius: 10%;
	-webkit-transform: rotate(405deg);
	transform: rotate(405deg);
}

.social:hover svg {
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
}

.facebook {
	fill: #3b5998;
}

.facebook:hover {
	fill: white;
	background: #3b5998;
}

.twitter {
	fill: #4099FF;
}

.twitter:hover {
	fill: white;
	background: #4099FF;
}

.linkedin {
	fill: #0077b5;
}

.linkedin:hover {
	fill: white;
	background: #0077b5;
}

/*# animate social icon */